*{
    margin:0;
    padding:0;
    font-family:"Microsoft YaHei", 微软雅黑;
}

a{
    text-decoration: none;
}
.logo_box{
    width:44px;
    height:40px;
    float: left;
    background: url("../../img/img-index/logo.jpg");
    background-size: 45px 45px;
    margin-top: 2px;
    margin-left: 2px;
    display: none;
}
.menu_box{
    width:45px;
    height:40px;
    float: right;
    border-radius: 5px;
    /*background: black;*/
    display: none;
    position: relative;
    transform:scale(0.8);
    margin-right: 6px;
}
.menu_first,.menu_second,.menu_third{
    width:36px;
    height:4px;
    border-radius: 2px;
    /*background: #259cff;*/
    background: #fff;
    transition: all 0.5s;
    transform-origin: left;
    margin-top: 10px;
    margin-left:10px;
    /*position: absolute;*/
    /*left:10px;*/
}
/*.menu_first{*/
    /*top:10px;*/
/*}*/
/*.menu_second{*/
    /*top:20px;*/
/*}*/
/*.menu_third{*/
    /*top:30px;*/
/*}*/
.menu_first_click{
    width:41px;
    /*filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7660444431189777, M12=-0.6427876096865394, M21=0.6427876096865398, M22=0.7660444431189779);*/
    transform:rotate(44deg) ;
}
.menu_second{
    opacity:1;
}
.menu_second_click{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity:0;
}
.menu_third_click{
    /*filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.707, M12=0.707, M21=-0.707, M22=0.707);*/
    width:41px;
    /*transform-origin: left;*/
    transform:rotate(-44deg);
}
.header_box{
    width:100%;
    margin:0 auto;
    /*background: rgba(255,255,255,0.85);*/
    /*background: rgba(0,0,0,0.5);*/
    /*background: rgba(0,0,0,.7);*/
    background: #242424;
    position: fixed;
    top:0;
    z-index: 50;
    /*box-shadow: 0 0 6px #c6c6c6;*/
}
.header_center{
    /*width:100%;*/
    height:50px;
    max-width: 1200px;
    margin:0 auto;
    position: relative;
}

.header_box ul{
    display: block;
    text-align: center;
    /*float: left;*/
    /*margin:0 auto;*/
}
.header_box ul,li{
    list-style: none;
}

.header_box li{
    display: inline-block;
    /*float: left;*/
    padding:14px 60px;
    font-size:16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.4s;
    transform: skewX(-30deg);
    /*background: #363636;*/
    margin-left: -6px;
}
.header_box li a{
    display: inline-block;
    transform: skewX(30deg);
}
.header_box li:hover{
    /*background: rgba(0,0,0,.1);*/
    background: #4e4e4e;
}

.this_li{
    color: #2390ed !important;
}
.header_box li a{
    color: #fff;
}
.header_box li a:hover{

}
.footer_box{
    width:100%;
    /*background: #282828;*/
   background: #333;
}
.footer_content{
    margin:0 auto;
    padding:12px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}